h1 {
    color: white;
    position: absoulute;
    width: 312px;
    height: 57px;
    left: 65px;
    top: 96px;
    
    width: 1200px;
    box-sizing: border-box;
    margin: 10px;
    background: black;
}

h2 {
    color: white;
    position: absoulute;
    width: 312px;
    height: 40px;
    left: 65px;
    top: 96px;
    
    width: 1200px;
    box-sizing: border-box;
    margin: 10px;
    background: black;
}

h3 {
    color: white;
    position: absoulute;
    width: 312px;
    height: 57px;
    left: 65px;
    top: 96px;
    
    width: 1200px;
    box-sizing: border-box;
    margin: 10px;
    background: black;
}

h4 {

    color: white;
    position: absoulute;
    width: 312px;
    height: 57px;
    left: 65px;
    top: 96px;
    
    width: 1200px;
    box-sizing: border-box;
    margin: 10px;
    background: black;
}